* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
header {
    width: 100%;
    height: 15vh;
    background-color: black;
    position: sticky;
    top: 0;
    /*clip-path:polygon(0% 0%, 100% 0%, 100% 100%,80% 80%, 0% 100%);*/

}

.logo {
    height: 30px;
    width: 100px;
    letter-spacing: 13px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 20px;
}

.logo span {
    color: blue;
}

.social {
    width: 100px;
    height: 50px;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

h1 {
    text-align: center;
    background-color: #252555;
    color: white;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.menu a:first-child {
    border-bottom: 2px solid white;
}

.img-1 {
    width: 400px;
    height: 300px;
    filter: invert(100%)
}

/*.span-1{
   background-color:#b2b230;
}*/
h3 {
    color: #950a0a;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75vh;
    background-color: black;
}

.left {
    flex-basis: 50%;
    padding: 20px;
}

.right {
    text-align: center;
    max-width: 400px;
    flex-basis: 50%;
}

.right h2 {
    text-align: center;
    color: white;
    border: 2px solid #252555;
    border-radius: 40px;
    font-size: 25px;
    background-color: #252555;
    font-weight: bold;
}

.right p {
    font-size: 20px;
    margin: 10px 0px;
}

.btn {
    background: transparent;
    padding: 10px 20px;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
}

.about {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.about-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.about-left-col {
    flex-basis: 50%;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;


}

.about-left-col h2 {
    text-align: center;
    color: white;
    border: 2px solid #252555;
    border-radius: 40px;
    font-size: 25px;
    background-color: #252555;
    font-weight: bold;
}

.about-right-col {
    flex-basis: 50%;
}

.img-2 {
    width: 800px;
    height: 500px;
}
.container-2{
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-1 {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize:horizontal;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: black;
    color:white;
}